@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "leaflet/dist/leaflet.css";


html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #1d1d1d;
}

body {
  background-color: #f9fbfc;
}


.Toastify__close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
